@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    font-family: 'Roboto';
}

.App {
    min-height: 100vh;
    min-width: 100%;
}

.start-page {
    min-height: 100vh;
    min-width: 100%;
    background-size: contain;
}


/*  FrontPage */

.title {
    font-size: 4rem;
    padding: 3rem;
    text-align: center;
}


.name {
    text-align: center;
    padding: 20px 20px 0px 20px;
}

.username {
    margin-bottom: 10rem;
    width: auto;
}

/*Quiz Page*/

.nav-title {
    font-size: 2rem;
    padding: 0rem 3rem 0rem 3rem;
}

#question {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    align-self: center;
    word-wrap: break-word;
}

#buttons {
    margin: 1.7rem;
    min-width: 40vw;
}

.btn {
    padding: 20px;
}

.wrapper {
    min-width: 100%;
    min-height: 100vh;
}

.score {
    text-align: center;
}

#quiz-button {
    padding: 20px 40px 20px 40px;
    max-width: 10rem;
}


/*Leader Board*/

.leaderboard-wrapper {
    min-height: 100vh;
    min-width: 100%;
}

.leaderboard-title {
    padding: 3rem 0rem 3rem 0rem;
}

th {
    font-size: 1.5rem;
    text-align: center;
}